* {
	margin: 0;
	padding: 0;
}

body {
	padding: 1em;
	background: url("/css/images/beauty.jpg") no-repeat;
}

table,tr,td {
	border: 0px;
	padding: 0;
	margin: 0;
	border-spacing: .5em 0;
}

table {
	margin: 1em .2em;
}

table caption {
	text-align: left;
	vertical-align: bottom;
	padding: .3em .3em .2em .4em;
	margin-bottom: .3em;
	font-weight: bold;
	font-size: 120%;
	text-shadow: 2px 2px 3px #888888;
}

table {
	background-color: rgba(240, 240, 240, .7);
}

table td.form {
	width: 10em;
}

table td {
	padding: 0em .4em;
	border-bottom: lightgray 1px solid;
}

table th {
	padding: .2em 0em;
	border-bottom: gray 1px solid;
	text-shadow: 2px 2px 3px #888888;
}

table.form td:FIRST-CHILD {
	border: 0px;
}

table.form td:FIRST-CHILD:after {
	content: ':'
}

input {
	border: 0px;
	text-align: left;
	vertical-align: bottom;
	padding: .1em;
	padding-left: .4em;
	background: transparent;
}

input[type="checkbox"] {
	margin-left: .2em;
}

input[readonly] {
	
}

input[type='submit'] {
	padding: .4em 1.2em;
	background-color: green;
}

div.action {
	padding: .6em .3em .6em 1em;
}

div.action a {
	padding: .4em 1.2em;
}

div.action,table caption { /*transparent*/
	background-color: #808080;
	background-color: rgba(240, 240, 240, .6);
}

div.action,table caption,table tbody, input[type='submit'] { /* radius */
	-moz-border-radius: 3px; /* FF1+ */
	-webkit-border-radius: 3px; /* Saf3+, Chrome */
	border-radius: 3px; /* Opera 10.5, IE 9 */
}

div.action,table caption,input[type='submit'] { /*  shadow*/
	box-shadow: 2px 2px 3px #777;
	-moz-box-shadow: 2px 2px 3px #777;
	-webkit-box-shadow: 2px 2px 3px #777;
	filter: progid :       DXImageTransform.Microsoft.Shadow (      
		Strength = 
		     2, Direction =       135, Color =       '#333333' );
	-ms-filter:
		"progid:DXImageTransform.Microsoft.Shadow(Strength=2, Direction=135, Color='#333333')";
}