* {
	margin: 0;
	padding: 0;
}

table {
	font: normal 0.9em/ 140% verdana, arial, helvetica, sans-serif;
	color: #777777; /*this is orange: FFAA00;*/
	background: transparent url(./images/kapton_reflect.png) bottom right
		no-repeat;
	text-align: center;
	border-collapse: collapse;
	border: 1px solid #FFAA00;
	/*width: 100%;*/
	border-top: none;
}

table a,td a,th a {
	text-decoration: none;
	color: #9c1111;
	display: block;
	background: transparent url(./images/links_orange.gif) no-repeat 0% 50%;
	padding-left: 15px;
}

table a:visited {
	text-decoration: none;
	color: #9c1111;
}

table a:hover,table a:active {
	color: #777777;
	text-decoration: underline;
}

table tbody tr:hover td,table tbody tr:focus td,table tbody tr:hover th,table tbody tr:focus th
	{
	background: #fff;
	vertical-align: top;
	color: #FFCA5E;
}

table thead th {
	font: bold 16px/ 16px Calibri, trebuchet MS, Helvetica, sans-serif;
	font-variant: small-caps;
	vertical-align: middle;
	text-align: center;
	color: #fff;
	background-color: #FFAA00;
	padding: 0.4em 0.25em 0.1em;
	border-bottom: 1px solid #ffaa00;
}

table tbody tr {
	background: url(./images/grstrfadebg.gif) repeat-x 0 0;
	vertical-align: top;
}

table tr,table th,table td {
	padding: .2em .75em; /*padding: .75em;*/
	border-top: 1px solid #FFCA5E;
}

table th {
	text-align: left;
}

table tr.odd td,table tr.odd th {
	background: url(./images/orstrfadebg.gif) repeat-x 0 0;
	color: #777777;
}

table tfoot th,table tfoot td {
	padding: 0.2em .75em;
	color: #3a4e58;
	font-weight: bold;
	font-size: 105%;
}

table tfoot th {
	text-align: right;
}

/* START  <<  For tranparent */
table thead th {
	padding: 0.3em;
	background-color: #FFFFFF;
	background-color: rgba(255, 170, 0, 0.4);
	/* FF3+, Saf3+, Opera 10.10+, Chrome */
	filter: progid : DXImageTransform.Microsoft.gradient ( startColorstr =
		'#99B4B490', endColorstr = '#99B4B490' ); /* IE6,IE7 */
	-ms-filter:
		"progid:DXImageTransform.Microsoft.gradient(startColorstr='#99B4B490',endColorstr='#99B4B490')"
		; /* IE8 */
}

table,table tbody,table tbody tr,td,th {
	background: transparent;
}

/* END  >>   For transparent */
form,h1,div.action,table.list {
	padding: 10px;
	margin: 20px;
	box-shadow: 3px 3px 4px #555;
	-moz-box-shadow: 3px 3px 4px #555;
	-webkit-box-shadow: 3px 3px 4px #555;
	filter: progid : DXImageTransform.Microsoft.Shadow ( Strength = 4,
		Direction = 135, Color = '#000000' );
	-ms-filter:
		"progid:DXImageTransform.Microsoft.Shadow(Strength=4, Direction=135, Color='#000000')"
		;
	background-color: #FFFFFF;
	background-color: rgba(250, 250, 240, .6);
	/* FF3+, Saf3+, Opera 10.10+, Chrome */
	filter: progid : DXImageTransform.Microsoft.gradient ( startColorstr =
		'#99B4B490', endColorstr = '#99B4B490' ); /* IE6,IE7 */
	-ms-filter:
		"progid:DXImageTransform.Microsoft.gradient(startColorstr='#99B4B490',endColorstr='#99B4B490')"
		; /* IE8 */
	-moz-border-radius: 5px; /* FF1+ */
	-webkit-border-radius: 5px; /* Saf3+, Chrome */
	border-radius: 5px; /* Opera 10.5, IE 9 */
}

h1 { /*margin-left: 1em;*/
	padding: 0.2em 1em;
	width: 12em;
}

form {
	display: block;
	width: 90%;
}

div.action {
	display: block;
	width: 90%;
}

input.submit {
	border: 1px solid #ccc;
	background: gray;
}

ol {
	list-style-type: none;
	padding: 0px;
	padding-left: 0px;
}

ol li ol {
	padding-left: 20px;
}

li {
	min-height: 26px;
	clear: left;
	/*border:solid 1px green;Test */
}

li label {
	font-weight: bold;
	float: left;
	width: 10em;
	text-align: right;
	padding-right: .2em;
	padding-top: .1em;
	padding-bottom: .1em;
	margin-top: .15em;
	margin-right: .2em;
}

h1,li label {
	text-shadow: 2px 2px 3px #888888;
}

li label:after {
	content: " :";
}

li input { /*background-image: url(./images/border.gif);;
    background-repeat: no-repeat;     
    background-position: left top; */
	background: transparent;
	border: 1px solid #d5dee9;
	margin-left: 3px;
	padding: 3px;
	background-color: #FFFFFF;
	background-color: rgba(250, 250, 240, 0.5);
	/* FF3+, Saf3+, Opera 10.10+, Chrome */
	filter: progid : DXImageTransform.Microsoft.gradient ( startColorstr =
		'#99B4B490', endColorstr = '#99B4B490' ); /* IE6,IE7 */
	-ms-filter:
		"progid:DXImageTransform.Microsoft.gradient(startColorstr='#99B4B490',endColorstr='#99B4B490')"
		; /* IE8 */
}

li a {
	
}

li table {
	clear: left;
	top: 20px;
}

/* Style for popup */
div.popup {
	position: absolute;
	z-index: 800;
	padding: 1em .4em;
	box-shadow: 3px 3px 4px #000;
	-moz-box-shadow: 3px 3px 4px #000;
	-webkit-box-shadow: 3px 3px 4px #000;
	filter: progid : DXImageTransform.Microsoft.Shadow ( Strength = 4,
		Direction = 135, Color = '#000000' );
	-ms-filter:
		"progid:DXImageTransform.Microsoft.Shadow(Strength=4, Direction=135, Color='#000000')"
		;
	/*display:block;*/
	min-height: 7em;
	min-width: 8em;
	-moz-border-radius: 12px; /* FF1+ */
	-webkit-border-radius: 12px; /* Saf3+, Chrome */
	border-radius: 12px; /* Opera 10.5, IE 9 */
	background-color: #FFFFFF;
	background-color: rgba(250, 250, 240, 0.85);
	/* FF3+, Saf3+, Opera 10.10+, Chrome */
	filter: progid : DXImageTransform.Microsoft.gradient ( startColorstr =
		'#99B4B490', endColorstr = '#99B4B490' ); /* IE6,IE7 */
	-ms-filter:
		"progid:DXImageTransform.Microsoft.gradient(startColorstr='#99B4B490',endColorstr='#99B4B490')"
		; /* IE8 */
}

table.popup {
	display: block;
	background: transparent;
}

table.popup caption {
	display: none;
}

table.popup tr {
	background: transparent;
}

table.popup a {
	background: transparent;
	color: black;
}

body {
	background: url("/css/images/beauty.jpg") fixed;
	/*background-size: 100%;*/
	/*background-color: yellow;*/
	padding: 10px;
}

div.navbox {
	position: relative;
	float: left;
	top: -50px;
	/*width: 201px;add for backgroud space*/
	background: -webkit-gradient(linear, left top, left bottom, from(#ccc),
		to(#fff) );
}

ul.nav {
	list-style: none;
	display: block;
	width: 200px;
	position: relative;
	top: 10px;
	left: 10px;
	padding: 60px 0 60px 0;
	background: url(./images/shad2.png) no-repeat;
	-webkit-background-size: 50% 100%;
}

ul.nav li {
	margin: 5px 0 0 0;
}

ul.nav li a {
	overflow: hidden;
	-webkit-transition: all 0.3s ease-out;
	background: #cbcbcb url(./images/border.png) no-repeat;
	color: #174867;
	padding: 7px 15px 7px 15px;
	-webkit-border-top-right-radius: 10px;
	-webkit-border-bottom-right-radius: 10px;
	width: 100px;
	display: block;
	text-decoration: none;
	-webkit-box-shadow: 2px 2px 4px #888;
}

ul.nav li a:hover {
	background: #ebebeb url(./images/border.png) no-repeat;
	color: #67a5cd;
	padding: 7px 15px 7px 30px;
}